<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>WQC-Server - Admin</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center" th:if="${message}">
					<label class="text-danger h2" th:text="${message}"></label>
				</div>
			</div>
		</div>
		<div class="row">
			<form class="form-horizontal" action="./" method="POST"	th:object="${Device}">
				<fieldset>
					<!-- Form Name -->
					<legend>WQC-Server - device data</legend>

					<!-- Text input-->
					<div class="form-group">
						<div class="col-md-4">
							<input class="form-control input-md" type="hidden" readonly	th:field="*{id}">
						</div>
					</div>
					<!-- Text input-->
					<div class="form-group">
						<div class="col-md-4">
							<input class="form-control input-md" type="hidden" readonly	th:field="*{version}">
						</div>
					</div>
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="deviceid">Device
							id</label>
						<div class="col-md-4">
							<input class="form-control input-md" type="text" readonly
								th:field="*{deviceid}">
						</div>
					</div>
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="name">Username</label>
						<div class="col-md-4">
							<input class="form-control input-md" type="text" th:field="*{name}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="role">Role</label>
						<div class="col-md-4">
							<select id="roles" name="roles" class="form-control" multiple>
								<option 
									th:with="currDesc=${role.description}"
									th:each="role:${rolesList}" 
									th:value="${role.description}" 
									th:text="${role.description} + ' - ' + ${role.comments}"
									th:selected="${not Device.roles.?[description == '__${role.description}__'].isEmpty()}"
								>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<label class="custom-control-label pull-right" for="status">
								<input type="checkbox" class="custom-control-input"	th:field="*{enabled}" /> Enabled
							</label>
						</div>
					</div>
					<!-- Button -->
					<div class="form-group">
						<div class="col-md-4 text-right">
							<button id="operation" name="operation" class="btn btn-primary"
								value="cancel">cancel</button>
						</div>
						<div class="col-md-4 text-right">
							<button id="operation" name="operation" class="btn btn-primary"
								value="save">save</button>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>