<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>WQC-Server - Admin</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
	<div class="container">
		<form class="form" action="./">
			<fieldset>
				<legend> WQC-Server - Authorized devices </legend>
				<div class="col-md-12 text-right">
					<button id="operation" name="operation"
						class="btn btn-primary pull-right" value="back">back</button>
						<!-- 
					<button id="operation" name="operation"
						class="btn btn-primary pull-right" value="add">add</button>
						-->
				</div>
			</fieldset>
			<div class="row mb-5">
				<div class="col-md-12 text-center">
					<span class="h2  text-danger" th:text="${message}"></span>
				</div>
			</div>
		</form>
		<fieldset>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Device</th>
						<th scope="col">User</th>
						<th scope="col">Roles</th>
						<th scope="col">Status</th>
						<th scope="col">Action</th>
				</thead>
				<tbody>
					<tr th:each="device:${Devices}">
						<td scope="col" th:text="${device.deviceid}"></td>
						<td scope="col" th:text="${device.name}"></td>
						<td scope="col">
							<th:block th:each="role,stat:${device.roles}">
								<label th:text="${role.description}"></label>
								<label th:if="${stat.index < device.roles.size() - 1}">+ </label>
							</th:block>
						</td>
						<td scope="col" th:text="${device.enabled == true ? 'Enabled' : 'Disabled'}"></td>
						<td scope="col">
							<form class="form" action="./">
								<input type="hidden" id="deviceid" name="deviceid"
									th:value="${device.deviceid}" />
								<button id="operation" name="operation" class="btn btn-primary"
									th:value="edit">edit</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
</body>
</html>