<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>WQC-Server - Admin</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
	<div class="container">
		<form class="form" th:action="@{/web/}">
			<fieldset>
				<legend> WQC-Server - Scanned projects </legend>
				<div class="col-md-12 text-right">
					<button id="" name="" class="btn btn-primary pull-right" value="">back</button>
					<!-- 
					<button id="operation" name="operation"
						class="btn btn-primary pull-right" value="add">add</button>
						-->
				</div>
			</fieldset>
		</form>
		<fieldset>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Project number</th>
						<th scope="col">Drawings scanned</th>
						<th scope="col" th:if="${isDebug}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="project:${projects}">
						<td scope="col">
							<a th:text="${project.reference}" th:href="@{/web/drawings?parentid=} + ${project.id}"></a>
						</td>
						<td th:text="${project.drawingRefs.size()}" scope="col"></td>
						<td th:if="${isDebug}">
							<form th:action="@{/rest/project/delete}" method="POST">
								<input type="hidden" th:value="${project.id}" name="id">
								<input type="hidden" th:value="${project.version}" name="version">
								<button type="submit" class="btn btn-danger">delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
</body>
</html>